body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Volkorn";
}

h2 {
    color: #1f961a;
}

header h2 {
    color: #e0d4bc;
}

.site-footer {
    background-image: linear-gradient(#aaf7a2, white);
    padding: 20px 0;
    text-decoration-color: #134b2c;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #09d42b, #207747, #04362c);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark{
    background-color: #134b2c;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}

.carousel {
    border: solid #0b532f;
}